@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  
}


body {
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: space-between;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    
    
    /*max-width: 1980vh;*/
    /*margin: 50px;*/
    margin-left: 15rem;
    margin-right: 15rem;
    
  }
  
  a {
    text-decoration: none;
    
  }


/*Site Recife- inculindo css*/

#hdde1 {
    display: flex;
}

#hdde {
    display: flex;
    justify-items: center;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 2.4rem;
    border: 22px solid beige;
   /* margin-left: 1rem;*/
    gap: 3rem;
    /*margin: 1px;*/
    width: 1920px;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
    


}

#hd2 {
    display: flex;
    justify-items: center;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 2.4rem;
    border: 20px solid beige;
    /*margin-left: 1rem;*/
    gap: 3rem;
    
    margin-left: 0.1rem;
    margin-right: 0.1rem;
    


}

#hd3 {
    display: flex;
    justify-items: center;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 2.4rem;
    border: 20px solid beige;
    /*margin-left: 1rem;*/
    gap: 3rem;
    
    margin-left: 0.1rem;
    margin-right: 0.1rem;
    
    


}

#hd4 {
    display: flex;
    justify-items: center;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 2.4rem;
    border: 20px solid beige;
    /*margin-left: 1rem;*/
    /*gap: 3rem;*/
    margin-left: 0.1rem;
    margin-right: 0.1rem;
    
    


}

#hd5 {
    display: flex;
    flex-direction: row-reverse;
    justify-items: center;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 2.4rem;
    border: 20px solid beige;
    /*gap: 3rem;*/
    margin-left: 0.1rem;
    margin-right: 0.1rem;
    


}

#hd6 {
    display: flex;
    justify-items: center;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 2.4rem;
    border: 20px solid beige;
    /*gap: 3rem;*/
    margin-left: 0.1rem;
    margin-right: 0.1rem;
    


}

#ftr {
    display: flex;
    justify-items: center;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 2.4rem;
    border: 20px solid beige;
    /*gap: 3rem;*/
    margin-left: 0.1rem;
    margin-right: 0.1rem;
    


}

hr{
    display: flex;
    width: 100%;
}

#img1 {
    width: 140px;
    height: 100px;
}

#img2 {
    width: 140px;
    height: 110px;
}

#img3 {
    width: 140px;
    height: 110px;
}
