@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: space-between;
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    align-items: center;
    padding: 1rem;
    
  }
  
  a {
    text-decoration: none;
  }


/*Site Recife- inculindo css*/
#hdde {
    display: flex;
    justify-items: center;
    justify-content: space-between;
    align-items: center;
    height: 45rem;
    padding: 0 2.4rem;
    border: 20px solid beige;
   /* margin-left: 1rem;*/
    gap: 3rem;
    /*margin: 1px;*/
    width: 100rem;
    


}

#hd2 {
    display: flex;
    justify-items: center;
    justify-content: space-between;
    align-items: center;
    height: 25rem;
    padding: 0 2.4rem;
    border: 20px solid beige;
    /*margin-left: 1rem;*/
    gap: 3rem;
    width: 100rem;
    
    


}

#hd3 {
    display: flex;
    justify-items: center;
    justify-content: space-between;
    align-items: center;
    height: 40rem;
    padding: 0 2.4rem;
    border: 20px solid beige;
    /*margin-left: 1rem;*/
    gap: 3rem;
    width: 100rem;
    
    


}

#hd4 {
    display: flex;
    justify-items: center;
    justify-content: space-between;
    align-items: center;
    height: 50rem;
    padding: 0 2.4rem;
    border: 20px solid beige;
    /*margin-left: 1rem;*/
    /*gap: 3rem;*/
    width: 100rem;
    
    


}

#hd5 {
    display: flex;
    flex-direction: row-reverse;
    justify-items: center;
    justify-content: space-between;
    align-items: center;
    height: 30rem;
    padding: 0 2.4rem;
    border: 20px solid beige;
    /*gap: 3rem;*/
    width: 100rem;
    


}

#hd6 {
    display: flex;
    justify-items: center;
    justify-content: space-between;
    align-items: center;
    height: 10rem;
    padding: 0 2.4rem;
    border: 20px solid beige;
    /*gap: 3rem;*/
    width: 100rem;
    


}

#ftr {
    display: flex;
    justify-items: center;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    padding: 0 2.4rem;
    border: 20px solid beige;
    /*gap: 3rem;*/
    width: 100rem;
    


}

hr{
    display: flex;
}
