/*Arquivo criado para futura organização dos códigos css do footer*/

footer {
    position: relative;
    height: 15vh;
    background-color: #1f1f1f;
    margin-top:-15vh;
    clear:both;
    color: white;
    text-decoration: none;
}

footer h2{
    position: absolute;
    left:15%;
    top:10%;
    color: white;
}

footer .titulo-info{
    position: absolute;
    left: 45%;
    top: 10px;
}

footer .informacoes{
    position: absolute;
    left: 45%;
    top: 35px;
}

footer .titulo-social{
    position: absolute;
    left: 75%;
    top: 10px;
}

footer .redes-sociais{
    position: absolute;
    left: 75%;
    top: 35px;
    
}

