@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body{
    display: flexbox;
}

/*Configuração do header (cabeçalho)*/
#container-header {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 12vh;
    background-color: #1f1f1f;
}
figure {
    display: flex;
    width: 30%;
    justify-content: center;
}
#container-header__img {
    display: block;
}

#container-menu {
    display: flex;
    flex-direction: row;
    width: 70%;
}

#container-menu > ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

#container-menu > ul > li {
    display: flex;
    padding: 2em;
}

#container-menu > ul >li > a {
    text-decoration: none;
    color: #fff;
}

#container-menu {
    text-decoration: none;
}

.principal_main{
    margin-left: 50px;
    margin-right: 50px;
}

#container-main {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    height: 230vh;
}

#container-footer {
    display: flex;
    flex-direction: row;
    background-color: #1f1f1f;
    color: #fff;
    padding: 1.5em 0em;
    bottom: 0px;
    top: 0px;
    width: 98.5vw;
    height: 15vh;
}

#container-footer__slogan {
    display: flex;
    width: 33%;
    align-items: center;
    justify-content: center;
}

#container-footer__contato {
    display: flex;
    width: 33%;
}

#container-footer__redesSociais {
    display: flex;
    width: 33%;
}
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    }
.top_principal{
    display: flex;
    height: 20vh;
}
.sobrenos {
    display: flex;
    width: 75vw;
    height: 20vh;
    font-size: 60px;
    background-color:rgb(216, 213, 213);
    color:#ec8105;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    font-family: "Open Sans",sans-serif; 
}
.quemsomos{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 95vw;
    height: 20vh;
    font-size: 30px;
    color:#000a00;
    text-align: center;
    font-family: "Open Sans",sans-serif;
}
.img_principal{
    width: 25vw;
    height: 20vh;
    display: flex;
}
.img_primeiro_paragrafo{
    width: 40vw;
    height: 60vh;
}
.p_primeiro_paragrafo{
    width: 60vw;
    height: 50vh;
    display: flex;
    margin-left: 20px;
    text-align: justify;
    font-size: 22px;
}
.primeiro_paragrafo{
    display: flex;
}
.como_trabalhamos{
    margin-top: 30px;
    background-color: #51e7f27e;
}
.objetivo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 95vw;
    height: 20vh;
    font-size: 30px;
    color:#000a00;
    text-align: center;
    font-family: "Open Sans",sans-serif;
}
.img_como_trabalhamos{
    width: 70vw;
    height: 50vh;
    background-color: #51E6F2;
    flex-direction: column;
    display: flex;
    align-content: center;
    margin-left: 150px;
}
.result{
    margin-bottom: 20px;
    font-size: 70px;
    font-family: "Open Sans",sans-serif;
    color: #2a0397;
    text-align: center;
}
.resultados{
    display: flex;
    text-align: center;
    justify-content: space-around;
    font-size: 14px;
    font-family: "Open Sans",sans-serif;
}
.titulo-info{
    display: flex;
    text-align: center;
    font-size: 26px;
}
li{
    list-style-type: none;
    margin-left: 0px;